<!DOCTYPE html>
<html>
<head>
    <title>Pebble Settings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.mobile.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body data-role="page">
<div data-role="header"><h1>Pebble Settings</h1></div>
<!-- defaultpanel  -->
<div data-role="panel" id="defaultpanel" data-swipe-close="false" data-dismissible="false">
    <div class="panel-content">
        <div class="ui-field-contain" style="width: 500px">
            <fieldset data-role="controlgroup" data-type="horizontal" id="marketControlGroup">
                <legend>证交所：</legend>
                <input type="radio" name="radio-choice-market" id="radio-choice-sh" value="sh">
                <label for="radio-choice-sh">上海</label>
                <input type="radio" name="radio-choice-market" id="radio-choice-sz" value="sz">
                <label for="radio-choice-sz">深圳</label>
            </fieldset>
        </div>
        <div class="ui-field-contain">
            <input type="text" id="text-input" title="" value="{{editingObject.code}}">
            <div data-role="controlgroup" data-type="horizontal"
                 class="ui-controlgroup ui-controlgroup-horizontal ui-corner-all">
                <a href="#" class="ui-btn ui-corner-all ui-icon-arrow-u ui-btn-icon-left">上移</a>
                <a href="#" class="ui-btn ui-corner-all ui-icon-arrow-d ui-btn-icon-left">下移</a>
            </div>
        </div>
        <div class="ui-field-contain">
            <input type="button" value="保存" id="btnSave">
            <input type="button" value="删除" id="btnDelete">
            <input type="button" value="取消" id="btnCancel">
        </div>
    </div>
    <!-- /content wrapper for padding -->
</div>
<!-- /defaultpanel -->
<div role="main" class="ui-content">
    <p>App Name: <%= appName %></p>
    <p id="deviceID">Device ID: <%= deviceID %></p>
    <p>股票/指数代码格式说明</p>
    <p>上海证券的股票代码前有“sh”，如“sh600000”；深圳证券的股票代码前有“sz”，如“sz000001”。</p>
    <p>上海证券的指数代码前有“s_sh”，上证指数的代码为“s_sh000001”；深圳证券的指数代码前有“s_sz”，比如深圳成指的代码为“s_sz399001”。</p>
    <form method="get">
        <h2>我的菜单</h2>
        <ul data-role="listview" id="myList">
            <li data-role="list-divider" id="list-divider-stock">股票代码</li>
            <li id="cellAddStock">
                <a href="#" class="ui-icon-plus">新增</a>
            </li>
            <li data-role="list-divider" id="list-divider-index">指数代码</li>
            <li id="cellAddIndex">
                <a href="#" class="ui-icon-plus">新增</a>
            </li>
        </ul>
        <div data-role="fieldcontain" class="divSwitch">
            <p>自动刷新开关（请注意：开启自动刷新后手表可能会消耗更多电量，如果不在WiFi环境下，手机也会消耗更多流量。）</p>
            <input type="checkbox" name="shouldAutoRefresh" id="autoRefreshSwitch" data-role="flipswitch">
        </div>
        <div data-role="fieldcontain" class="divSlider">
            <p>自动刷新间隔（单位：秒。请注意：间隔越短，耗电量和消耗的网络流量也会相应增加。）</p>
            <input type="range" name="autoRefreshInterval" id="intervalSlider" value="60" min="5" max="600" step="5"
                   data-highlight="true">
        </div>
        <input type="submit" value="保存">
    </form>
    <br><br>
    <a href="mailto:robinkam008@qq.com">欢迎给我写邮件，反馈需求和问题。</a>

    <p>下面是我的支付宝捐款二维码，欢迎向我捐款，支持我把应用做得更好，谢谢！</p>
    <img src="images/RobinDonateQR.png" alt="我的支付宝捐款二维码，欢迎向我捐款，支持我把应用做得更好，谢谢！">
</div>
<div data-role="footer"><h4>Developed by Robin Kam</h4></div>
</body>
</html>